@c-main-color: #239BEB;
@c-light-blue: #4bb7ff;
@c-bg-grey: #f2f2f2;
@c-word-default: #333;
@c-border-color: #e8e8e8;
@c-warning: #f34b4b;
.clrc-schema {
  h1,h2,h3,h4,h5 {
    margin: 10px 0;
  }
  .schema-box {
    margin-top: 15px;
    padding: 15px;
    border: 1px dashed #888;
    border-radius: 8px;
    background: rgba(35, 155, 235, 0.3);
    position: relative;
    .prop-tag {
      position: absolute;
      background: rgba(35, 97, 235, 0.9);
      padding: 0 4px;
      color: #f1f1f1;
      left: 0;
      top: 0;
    }
    .box{
      position: relative;
    }
    h3 {
      margin: 10px 0;
    }
    .switch-btn {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }

  .schema-input {
    width: 100%;
    box-sizing: border-box;
  }

  .object-key-row {
    position: relative;
    margin-bottom: 10px;
    .key-title {
      display: inline-block;
      width: 20%;
      vertical-align: top;
    }
    .key-obj {
      display: inline-block;
      width: 78%;
      vertical-align: top;
    }
  }

  .array-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background: #FFF;
    td,th {
      border: 1px solid #e8e8e8;
    }
    th {
      background: @c-light-blue;
      color: #FFF;
      line-height: 1.5em;
    }
    .schema-input {
      border: none;
      outline: none;
      margin: -1px;
      text-align: center;
    }
  }


  //数组的样式
  .schema-array{
    .items-cont {
      margin: 0 0 10px 0;
    }
    .array-item {
      position: relative;
    }
    .btns {
      position: absolute;
      top: 5px;
      right: 60px;
    }
  }
  .schema-image {
    position: relative;
    text-align: center;
    .layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    .mask {
      background: rgba(0, 0, 0, 0.5);
      z-index: 9;
    }
    .op-upload{
      margin: 10px 0 0;
    }
    .op-info {
      font-size: 12px;
      color: #ff7462;
      padding: 0 10px;
      margin: 0;
    }
  }
}
